@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Urbanist:ital@0;1&display=swap");

/* #region Root */
*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	/* Header */
	--signature-color: #afc6e9;
	--signature-color-hover: #9eb5d6;
	--signature-color-active: #95abc9;

	/* Background */
	--background-color-light: #ede9e3;
	--background-color-light-alternative: #f0ece6;
	--background-color-dark: #92a5bc;
	--background-color-dark-semi-transparent: #92a5bc90;
	--primary-color: #9fb5cf;

	--shadow: #10101055;

	/* Buttons */
	--accent-color: #cabccb;
	--accent-color-hover: #dacddb;
	--accent-color-active: #e5d7e6;

	/* Text */
	--header-color: #395176;
	--text-color: #2c3f5c;
	--header-font: "Ms Madi", cursive;
	--subheader-font: "Urbanist", sans-serif;
	--text-font: "Times New Roman";

	--page-header-height: 12vh;
	--border-radius: 10px;
}
/* #endregion */

/* #region General */
body {
	margin: 0;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	background-color: var(--background-color-dark-semi-transparent);
	display: grid;
	align-items: center;
}
body * {
	white-space: pre-line;
	font-family: var(--text-font);
	color: var(--text-color);
}
h2 {
	font-family: var(--header-font);
	font-size: 3.5rem;
	color: var(--header-color);
}
h3,
h4 {
	margin: 0px;
	font-family: var(--subheader-font);
	font-size: 2.5rem;
	color: var(--header-color);
}
h4 {
	font-size: 1.4rem;
}
button {
	position: relative;
	border: none;
	cursor: pointer;
	background-color: var(--accent-color);
	font-size: 1.3rem;
	transition: 0.2s ease-in-out;
	font-family: var(--subheader-font);
}
button:hover {
	background-color: var(--accent-color-hover);
}
button:active {
	background-color: var(--accent-color-active);
}
p,
label {
	position: relative;
	display: flex;
	align-items: center;
	font-size: clamp(1rem, 1.4rem, 1.4rem);
}
label {
	cursor: pointer;
}
a {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	text-decoration: unset;
	font-size: 1.2rem;
	width: 100%;
	height: 100%;
	padding: 0.5rem 1rem;
}
a > span {
	font-family: var(--subheader-font);
}
img {
	position: relative;
	width: 100%;
}
.textListContainer {
	margin-bottom: 2rem;
	background-color: var(--background-color-light-alternative);
	padding: 1rem;
	border-radius: var(--border-radius);
}
.textList {
	display: flex;
	margin-block: 0.5rem;
	align-items: center;
}
.textList img {
	height: 20px;
	width: 20px;
	aspect-ratio: 1/1;
	flex-shrink: 0;
}
.textList span {
	font-size: 1.2rem;
	margin: 0;
	padding-left: 2rem;
}
@media (max-width: 1024px) {
	body * {
		overflow-x: hidden;
	}
	h2,
	h3,
	h4 {
		text-align: center;
	}
	h2,
	h3,
	p {
		margin-block: 1rem;
		font-size: 1rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.2rem;
	}
	button {
		font-size: 1rem;
	}
	img {
		border-radius: var(--border-radius);
	}
	.textListContainer {
		margin-block: 1rem;
	}
}
/* #endregion */

/* #region High-level */
.mainScreen {
	display: grid;
	position: relative;
	height: 100%;
	max-width: 1600px;
	margin-inline: auto;
	background-color: var(--background-color-light);
	box-shadow: 0rem 0rem 2rem 1rem rgba(0, 0, 0, 0.37);
}
.sections {
	display: grid;
}
.generalSectionLayout {
	width: 100%;
	position: relative;
}
.generalSectionLayout a,
.generalSectionLayout button {
	width: fit-content;
	margin-block: 1rem;
	padding-inline: 2rem;
	height: 3rem;
	justify-content: left;
	align-items: center;
	display: grid;
	border-radius: var(--border-radius);
}
.sidebar,
.sidebarButton {
	display: none;
}
.accentA {
	position: relative;
	border: none;
	cursor: pointer;
	background-color: var(--accent-color);
	font-size: 1.3rem;
	transition: 0.2s ease-in-out;
	font-family: var(--subheader-font);
}
.accentA:hover {
	background-color: var(--accent-color-hover);
}
.accentA:active {
	background-color: var(--accent-color-active);
}
.normalCursor {
	cursor: unset;
}
@media (max-width: 1024px) {
	.sections {
		margin-top: 10vh;
	}
	.sidebar {
		display: unset;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 75vw;
		background-color: var(--signature-color);
		color: var(--text-color);
		transform: translateX(100%);
		transition: transform 0.5s ease;
		z-index: 100;
	}
	.activeSidebar {
		transform: translateX(0); /* Slide in */
	}
	.sidebar > div:first-child {
		height: 10vh;
	}
	.sidebar img {
		filter: invert();
		position: relative;
		height: 50%;
	}
	.sidebarBody {
		display: flex;
		flex-direction: column;
	}
	.sidebarBody a {
		display: flex;
		align-items: center;
		justify-content: right;
		position: relative;
		aspect-ratio: 1/1;
		background-color: unset;
		height: 5rem;
		font-size: 1rem;
	}
	.sidebarButton {
		display: unset;
		position: relative;
		background-color: unset;
		display: grid;
		justify-content: center;
		align-items: center;
	}
	.sidebarButton img {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 50%;
		background: transparent;
		transform: translateX(50%) translateY(50%);
		filter: invert();
	}
}
/* #endregion */

/* #region Fixed Screen */
.fixedScreen {
	background-color: var(--background-color-light);
	box-shadow: 0 0 3rem;
	position: fixed;
	display: grid;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.fixedScreen > div:first-child {
	display: grid;
	grid-template-columns: 9fr 1fr;
	height: fit-content;
}
.fixedScreen > div:last-child {
	display: grid;
	grid-template-columns: 65fr 35fr;
}
.fixedScreen h3 {
	text-align: center;
	padding-block: 1rem;
	font-size: 2rem;
	background-color: var(--background-color-dark);
}
.fixedScreen h4 {
	text-align: center;
	font-size: 1.2rem;
}
.fixedScreen p {
	font-size: 1.2rem;
}
.fixedScreen button {
	background-color: var(--background-color-dark);
}
.fixedScreen button:hover {
	background-color: var(--background-color-dark-semi-transparent);
}
.fixedScreenLeft,
.fixedScreenRight {
	padding: 1rem;
}
.fixedScreenRight img {
	border-radius: var(--border-radius);
}
.fixedScreenLeft {
	display: grid;
	align-items: center;
	gap: 1rem;
}
.fixedScreenLeft p::before {
	content: "";
	margin-right: 1rem;
	border-radius: 50%;
	background-color: var(--text-color);
	width: 0.5rem;
	height: 0.5rem;
	aspect-ratio: 1/1;
}
.fixedScreenRight {
	display: grid;
	align-items: center;
}
.fixedScreenRight img {
	aspect-ratio: 4/5;
}
@media (max-width: 1024px) {
	.fixedScreen {
		top: 10vh;
		left: 0;
		transform: translate(0);
		box-shadow: 0rem 0rem;
		border: 0px;
		overflow-y: auto;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.fixedScreen > * {
		overflow: hidden;
		flex-shrink: 0;
	}
	.fixedScreen > div > button {
		font-size: 1.4rem;
	}
	.fixedScreen > div:first-child {
		grid-template-columns: unset;
	}
	.fixedScreen h3 {
		margin: 0;
		font-size: 1.5rem;
	}
	.fixedScreen button {
		background-color: var(--accent-color);
	}
	.fixedScreen > div:last-child {
		grid-template-columns: unset;
		grid-template-rows: auto;
	}
	.fixedScreenLeft {
		overflow-y: scroll;
		margin-bottom: 10vh;
	}
	.fixedScreenLeft p::before {
		display: none;
	}
	.fixedScreenLeft p {
		text-align: left;
	}
	.fixedScreenRight {
		order: -1;
	}
}
/* #endregion  */

/* #region Header */
.header {
	height: var(--page-header-height);
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 7fr;
	align-content: center;
	padding-inline: 5%;
	background-color: var(--signature-color);
}
.headerLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.headerNav {
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-inline: 3rem;
}
.headerNav a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.1rem;
}
.headerNav a:hover {
	background-color: var(--signature-color-hover);
}
.headerNav a:active {
	background-color: var(--signature-color-active);
}
@media (max-width: 1024px) {
	.header {
		position: fixed;
		display: flex;
		height: 10vh;
		padding: 0rem;
		z-index: 1000;
	}
	.header a {
		padding: 0.5rem;
	}
	.header a > img {
		max-width: 300px;
	}
	.header a:hover {
		background-color: unset;
	}
	.header a:active {
		background-color: var(--background-color-dark);
	}
	.headerNav {
		display: none;
	}
	.headerButtonsContainer {
		display: none;
	}
	.header > button {
		aspect-ratio: 1/1;
	}
	.header > button:hover {
		background-color: unset;
	}
	.header > button:active {
		background-color: unset;
	}
}
/* #endregion  */

/* #region Footer */
.footer {
	padding: 0 5rem 2rem 10rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--signature-color);
}
.footerSection {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.footer a {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.5rem;
	padding: 0;
	height: auto;
}
.footer a > img {
	max-width: 32px;
	max-height: 32px;
	aspect-ratio: 1/1;
}
.footer h3 {
	margin-block: 2rem;

	font-family: var(--subheader-font);
	font-size: 1.6rem;
	margin-bottom: 1rem;
}
.footer div:not(:last-child) {
	border-right: 2px solid var(--text-color);
}
.credits {
	display: grid;
	justify-items: center;
	background-color: var(--background-color-dark);
}
.credits p {
	margin-block: 0.5rem;
}
.credits p {
	font-size: 1rem;
	text-align: center;
}
@media (max-width: 1024px) {
	.footer {
		grid-template-columns: unset;
		grid-template-rows: auto;
		padding: 1rem;
	}
	.footer h3 {
		margin-block: 1rem;
		font-size: 1.3rem;
	}
	.footer div:not(:last-child) {
		border-right: none;
		border-bottom: 2px solid var(--text-color);
	}
	.footer p {
		font-size: 1rem;
		margin-block: 0.5rem;
	}
}
/* #endregion */
